* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.first {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-wrap: wrap;
}

.first div {
    border: 1px solid black;
}

button { 
    z-index: 1;
    font-size: 32px;
    background-color:lightskyblue;
    border: 1px solid rgb(50, 105, 138);
    border-radius: 8px;
    padding: 4px 16px;
    margin: 64px;
}
