body {
    display: flex;
}

div {
    border: 1px solid black;
}

.first {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-wrap: wrap;
}

.first div {
    flex-basis: 25%;
    box-sizing: border-box;
}